<footer class="footer">
	<div class="container">
	  <div class="row">
		  <div class="footer-block">
		  <h4>Contact us</h4>
		  <div class="contacts"><mat-icon>email</mat-icon><a href="mailto:lsp@abv.bg">lsp@abv.bg</a></div>
		  <div><mat-icon>phone</mat-icon><a href="tel:+359888888888">+359888888888</a></div>
		</div>
		<div class="footer-block">
			<div><a href="#">Services</a></div>
			<div><a href="#">Terms and conditions</a></div>
			<div><a href="#">Privacy policy</a></div>
			<div><a href="#">Cookies policy</a></div>
		</div>
		<div class="footer-block">
			<div><a href="#">Customer Service</a></div>
			<div><a href="#">News</a></div>
			<div><a href="#">Blog</a></div>
			<div><a href="#">lsp.com</a></div>
		</div>
	  </div>
	</div>
 <div class="container">
	  <div class="row">
		<div class="rights">
		<a>© 2020 LSP All rights reserved.</a>
	  </div>
	  </div>
	  </div>
  </footer>

