.footer {
	background-color: #eee;
	padding: 25px;
	justify-content: center;
}

ul, a {
	list-style-type: none;
	display:inline;
}

li {
	display: inline-block;
	margin:auto;
}

.row {
	margin: auto;
	margin-top:5px;
	margin-bottom: 5px;
	text-align: center;
	display:flex;
}
footer .footer-block {
	margin: auto;
	vertical-align: top;
	justify-content: center;
	text-align: left;
}

.mat-icon {
	font-size: 18px;
	display:inline;
	vertical-align: middle;
}

.rights {
	margin: auto;
	justify-content: center;
	margin-top: 30px;
	font-size: 12px;
	margin-bottom:-18px;
}
html, body {
	font-family:  Roboto, Arial, sans-serif;
	height: 100%;
}


  @media (max-width: 600px) {
	.row {
		flex-direction:column;
	}
	footer .footer-block {
		text-align: center;
		width: 100%;
		margin-bottom: 5px;
	}

	.mat-icon {
		vertical-align: top;
		font-size: 18px;
	 }
	 .rights {
		justify-content: center;
		margin-top: 30px;
		font-size: 10px;
	}

}


