<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
	  #drawer
	  class="sidenav"
	  fixedInViewport="false"
      [attr.role]="isHandset$ ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async)!.matches">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="closeSideNav()">Link 1</a>
      <a mat-list-item (click)="closeSideNav()">Link 2</a>
      <a mat-list-item (click)="closeSideNav()">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
		<mat-toolbar color="primary">
				<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
				  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
				</button>
	  <span>lsp</span>
	  <span class="spacer"></span>
	  <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
	</mat-toolbar>
		<ng-content></ng-content>
  	</mat-sidenav-content>
</mat-sidenav-container>
<div>
	<button id="red">Red</button>
	<button id="black">Black</button>
  </div>
  <div>Red: <span id="red-total"></span></div>
  <div>Black: <span id="black-total"></span></div>
  <div>Total: <span id="total"></span></div>
