
ul, li{
	list-style-type: none;
}
.list{
	margin-top: 15px;
}
.row {
	margin: auto;
	margin-top:5px;
	margin-bottom: 5px;
}

.container {
	position: relative;
}

html, body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

/* Navigation CSS */
.sidenav-container {
	height: 100%;
  }

  .sidenav {
	width: 200px;
	box-shadow: 2px 0 5px rgba(0,0,0, .24);

  }

  .sidenav .mat-toolbar {
	background: inherit;
  }

  .mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 1;
  }

  .hidden {
	  display: none;
  }

  .spacer {
	  flex: 1 1 auto;
  }

  mat-toolbar a {
	  display: inline-block;
	  margin: 0 10px;
	  color: white;
	  text-decoration: none;
  }
  .mat-list-item:hover {
	background-color:#eee;
	}
/* End of navigation css. */

@media (max-width: 600px) {
	.mat-list-item:hover {
		background-color:#eee;
	}
}
