
<header>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</header>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<main-nav>
		<p>
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
				praesentium voluptatum deleniti atque corrupti quos dolores et quas
				molestias excepturi sint occaecati cupiditate non provident, similique sunt
				in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
				fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero
				tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
				id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis
				dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut
				rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
				molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
				delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
				perferendis doloribus asperiores repellat.
				</p>
</main-nav>
		<footer>
				<div class="container">
				  <div class="row">
					<div class="col-md-3">
					<h3>About Us</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					   Pellentesque imperdiet consectetur dolor in elementum.</p>

					</div>
					<div class="col-md-2 list">
					  <ul>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
					  </ul>

					</div>
					<div class="col-md-2 list">
					  <ul>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
					  </ul>

					</div>
					<div class="col-md-2">

					</div>
					<div class="col-md-3">
					  <h5><strong>Contact Info</strong></h5>
					  <p><strong>Address:</strong> 514 S. Magnolia St.
			  Orlando, FL 32806 <!-- Random Adress -->
			  </p>
					  <p><strong>Email:</strong> email@example.com</p>
					  <p><strong>Tel.:</strong> (888) 888 8888</p>
					</div>
				  </div>
				</div>
			  <!--  <div class="container">
				  <div class="row">
					<div class="col-md text-center">
					© 2010-<?php# echo date("Y");?>
				  </div> -->
			  </footer>
</body>

