
ul, li{
	list-style-type: none;
}
.list{
	margin-top: 15px;
}
.row {
	margin: auto;
	margin-top:5px;
	margin-bottom: 5px;
}

.container {
	position: relative;
}

html, body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}
